body {
  background: #3d087b 0% 0% no-repeat padding-box;
  padding: 12px 85px;
  height: 730px;
}
.clk {
  background-image: url(./clock_logo.png);
  height: 100px;
  width: 452px;
  background-repeat: no-repeat;
}
.main {
  display: flex;
  flex-direction: row;
  height: 155px;
}
.cloud {
  height: 70px;
  width: 200px;
  background-color: white;
  text-align: center;
  color: rgba(133, 133, 133, 1);
  border-radius: 7px;
}
.opacity {
  position: relative;
  left: 85px;
}
.time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 510px;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  height: 100px;
  gap: 7px;
  text-align: center;
}
.bx {
  height: 80px;
  width: 80px;
}
.box1 {
  background-color: white;
}
.box2 {
  background-image: url(./timeline@2x.png);
}
.box3 {
  background-image: url(./timeline@2x.png);
}
.box4 {
  background-image: url(./timeline@2x.png);
}
.box5 {
  background-image: url(./AM_svg@2x.png);
}
.mainbox {
  background-color: blanchedalmond;
  display: flex;
  gap: 63px;
  width: 650px;
  height: 340px;
  border-radius: 10px;
  line-height: 40px;
  padding-top: 18px;
  background: linear-gradient(120deg, #58ffdc, red, yellow, green);
}
.img {
  display: flex;
  flex-direction: column;
}
.op1 {
  height: 105px;
  width: 409px;
  margin: 24px 49px;
  border-radius: 20px;
  border: 2px solid #113fc8;
  position: absolute;
  background-color: aquamarine;
}
.op2 {
  height: 108px;
  width: 450px;
  margin: 6px 29px;
  border-radius: 20px;
  border: 2px solid green;
  position: absolute;
  background-color: aqua;
}
.dropdown {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 60px;
  padding-top: 6px;
}
select {
  height: 30px;
}
.schedule {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.mainbox1 {
  display: flex;
  gap: 85px;
}
.bigw {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.head {
  color: azure;
  background-color: white;
  width: 533px;
  border-radius: 10px;
  text-align: center;
  color: #500f9b;
  font-size: 22px;
}
.morning {
  color: white;
  width: 644px;
  height: 75px;
  font-size: 26px;
  text-align: center;
  background-color: blue;
  line-height: 70px;
  position: relative;
  top: -102px;
  border-radius: 10px;
}
.alarm {
  color: white;
  background: linear-gradient(90deg, blue, salmon);
  width: 250px;
  height: 45px;
  text-align: center;
  line-height: 40px;
  position: relative;
  bottom: 85px;
  border-radius: 5px;
}
.alarm :hover {
  height: 45px;
  background: linear-gradient(87deg, salmon, blue);
}
/* .alarm::after {
  content: "as";
} */
.sche {
  color: lightgrey;
  background-color: rgb(97, 97, 220);
  border-radius: 10px;
  width: 345px;
  height: 120px;
  position: relative;
  bottom: 166px;
  left: 299px;
  line-height: 29px;
  text-align: center;
  font-size: 20px;
}
